<a class="a-button">
  <div class="a-button__wrapper">
    <span class="a-button__face a-button__face--front">{{ buttonLabel }}</span>
    <span class="a-button__face a-button__face--hovered">{{ buttonLabelHovered }}</span>
  </div>
</a>