/*------------------------------------*\
		object.section
\*------------------------------------*/

.section {
	width: 90%;
	max-width: $section-width;
	margin-left: auto;
	margin-right: auto;

	position: relative;

	@media (max-width: $screen-lg) {
		max-width: $section-width-sm;
	}
	@media (min-width: $screen-sm) {
		width: 80%;
	}

	margin-top: ($spacing-unit--large * 1.5);
	margin-bottom: ($spacing-unit--large * 1.5);

	// Modifiers

	// Colors-modifiers
	&--white {
		background: $color-negative;
	}

	&--blue {
		background: $color-tertiary;
	}

	&--yellow {
		z-index: 50;
		background: $color-accent;
	}

	&--black {
		background: $color-positive;
	}

	// Layout-modifiers
	&--space-above {
		margin-top: 60px;
	}

	&--fullwidth {
		width: 100%;
		max-width: none;
	}

	&--border-bottom {
		border-bottom: 1px solid $color-title-bar-border;
	}

	&--nogap {
		// Must negate section gap
		margin-top: 0;
		margin-bottom: -($spacing-unit--large * 1.5);
	}

	&--nomargin {
		margin-top: 0;
		margin-bottom: 0;
	}

	/*
	&--airy {
		margin: ($spacing-unit--large * 1.5) 0;
	}

	&--airy-bottom {
		margin-bottom: ($spacing-unit--large * 1.5);
	}
	*/

	&--overflow-h {
		overflow: hidden;
	}


	// Make sure these visual effects are only visible on screens.
	// Not print (print) and not screen readers (speech)
		@media screen {
		transition: opacity $anim-fallin-opacity-speed $ease-dynamic, transform $anim-fallin-transform-speed;
		.is-visually-enhanced &--reveal {
			opacity: 0;
			transform: translateY($anim-fallin-transform-distance * 2);
		}

		.is-visually-enhanced &--zoom {
			.hero__image:before {
				opacity: 1;
			}
		}
	}
}

.section__title-bar {
	padding: $spacing-unit 0;

	background: $color-background;
	border-bottom: 1px solid $color-title-bar-border;

	&--white {
		background: $color-negative;
	}

	&--centered {
		.section__title {
			text-align: center;
		}
	}

	&--noborder {
		border-bottom: none;
	}

	&--grey {
		background: $color-table-header;
		border-bottom: none;
	}

	.section__title {
		width: 100%;
		max-width: $section-inner-width;
		margin: 0 auto;
		padding: 0 $section-inner-padding-horiz;

		color: $color-positive;

		.section--fullwidth-constrained & {
			width: 90%;

			@media (min-width: $screen-sm) {
				width: 80%;
			}
		}
	}
}

.section__title {
	@include font-size-responsive(24px);
	text-transform: uppercase;
}

.section__inner {
	width: 100%;
	max-width: $section-inner-width;
	padding: $section-inner-padding-vert $section-inner-padding-horiz;
	margin: auto;

	.section--fullwidth-constrained & {
		width: 90%;

		@media (min-width: $screen-sm) {
			width: 80%;
		}
	}
}

.section__cta-more {
	position: absolute;
	bottom: -25px;
	left: 0;
	right: 0;
	z-index: 1;
	text-align: center;
	cursor: pointer;
	svg {
		transition: transform .3s $ease-dynamic;
		transform-origin: center;
	}
	&--active {
		svg {
			transform: rotate(45deg) rotateZ(0);
		}
	}
}