/*------------------------------------*\
		object.button
\*------------------------------------*/

.button {
	font-family: $font-primary-extrabold;
	@include font-size-responsive(12px);
	text-decoration: none;

	padding: $spacing-unit--small $spacing-unit;

	border: 2px solid $color-secondary;
	display: inline-block;
	cursor: pointer;
	transition: ease-in-out background .1s;

	&:hover {
		background: $color-secondary;
		color: $color-primary;
	}
}


// Modifiers

.button--dark {
	background: $color-secondary;
	color: $color-font-negative;

	&:hover {
		color: $color-font-negative;
	}
}

.button--light {
	background: $color-primary;
	color: $color-font-positive;

	&:hover {
		color: $color-font-positive;
	}
}

.button--transparent {
	background: transparent;
}

.button--subnavigation {
	display: block;
	padding: $spacing-unit 0;
	border-bottom: 1px solid $color-secondary;

	&.button--icon {
		.icon {
			right: 0;
		}
	}
}

.button--small {
	@include font-size(14px);
	padding: $spacing-unit--small $spacing-unit;
	min-height: $spacing-unit--large;

	@media (max-width: $screen-sm) {
		@include font-size(10px);
	}

	&.button--icon {
		padding-right: $spacing-unit--large;
		.icon {
			right: $spacing-unit--small;
		}
	}
}

.button--icon {
	padding-right: $spacing-unit--huge;
	position: relative;

	.icon {
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
		right: $spacing-unit--large;

		width: ($spacing-unit--small * 1.5); // 15px
		height: ($spacing-unit--small * 1.5); // 15px
	}
}

.button--icon-left {
	padding-left: $spacing-unit--large;
	position: relative;
	
	&.button--icon {
		padding-right: $spacing-unit;
	}
	.icon {
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
		left: ($spacing-unit--small * 1.5); // 15px

		width: ($spacing-unit--small * 1.5); // 15px
		height: ($spacing-unit--small * 1.5); // 15px
	}
}

.button--interactive-hard {
	transition: background $anim-hover-background-speed;

	&.button--dark:hover {
		background-color: lighten($color-secondary, 30%);
	}
	
	&.button--light:hover {
		background-color: darken($color-primary, 20%);
	}

}

.button--interactive-subtle {
	transition: background $anim-hover-background-speed;

	&.button--dark:hover {
		background-color: lighten($color-secondary, 20%);
	}
	
	&.button--light:hover {
		background-color: darken($color-primary, 10%);
	}

}