/*------------------------------------*\
		object.select
\*------------------------------------*/

$icon-box-size: 60px;
$icon-box-size-sm: 40px;

.select {
	max-width: 100%;
	font-family: $font-primary;
	@include font-size-responsive(18px);
	position: relative;
	background-color: $color-positive;
	color: $color-negative;

	&__field {
		font-family: inherit;
		color: inherit;

		padding: $spacing-unit;
		padding-right: ($spacing-unit + $icon-box-size);
		border: none;
		background-color: transparent;
		display: block;
		position: relative;
		z-index: 1;
		width: 100%;
		height: $icon-box-size;

		appearance: none;
		cursor: pointer;
	}

	&__field::-ms-expand {
		display: none;
	}

	//Placeholder text
	&__field:required:invalid {
		color: $color-font-disabled;
	}

	&__option[value=""][disabled] {
		display: none;
	}

	&__option {
		font-family: inherit;
		color: $color-positive;
		background-color: $color-negative;
	}

	&__icon {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: $icon-box-size;
		height: $icon-box-size;

		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;

		fill: $color-positive;
		background-color: $color-negative;

		.icon {
			width: 10px;
			height: 10px;

			transform-origin: center;

			&:first-child {
				transform: rotate(270deg);
			}
			&:last-child {
				transform: rotate(90deg);
			}
		}
	}
}

// Modifiers
.select--small .select {
	&__field {
		@include font-size(14px);
		text-transform: uppercase;

		height: $icon-box-size-sm;
		padding: $spacing-unit--small $spacing-unit;
		padding-right: ($spacing-unit + $icon-box-size-sm);

		@media (max-width: $screen-sm) {
			@include font-size(16px);
		}
	}

	&__icon {
		width: $icon-box-size-sm;
		height: $icon-box-size-sm;
	}

}

.select--wide {
	width: 100%;
}

.select--light {
	background-color: $color-negative;
	color: $color-positive;
}

.select--light .select {
	&__icon {
		background-color: $color-positive;
		fill: $color-negative;
	}
}

.select--form {
	background-color: $color-positive;
}

.select--form .select {
	&__icon {
		background-color: $color-positive;
		fill: $color-negative;
	}
}

.select--filter {
	display: inline-block;
	margin: 0 $spacing-unit--small $spacing-unit--small 0;

	@media(max-width: $screen-xs) {
		display: block;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.select--filter .select {

	&__field {
		max-width: 100%;
		text-transform: uppercase;

		&:required:invalid {
			color: $color-font-negative;
		}
	}

	&__icon {
		background-color: $color-positive;
		fill: $color-negative;
	}
}
