/*------------------------------------*\
		atom.accordion
\*------------------------------------*/

.accordion__term {
	cursor: pointer;
	display: flex;
	margin-top: -1px;
	padding: 20px;
	border-right: 1px solid $color-title-bar-border;
	border-bottom: 1px solid $color-title-bar-border;
	border-left: 1px solid $color-title-bar-border;

	&:first-of-type {
		border-top: 1px solid $color-title-bar-border;
	}
}

.accordion__definition {
	overflow: hidden;
	position: relative;
	height: 0;
	border-right: 1px solid $color-title-bar-border;
	border-left: 1px solid $color-title-bar-border;

	.accordion__term--is-open + & {
		border-bottom: 1px solid $color-title-bar-border;
	}
}

.accordion__icon {
	position: absolute;
	transition: transform .3s $ease-dynamic;

	.accordion__term--is-open & {
		transform: rotate(45deg) rotateZ(0);
	}
}

.accordion__content {
	position: relative;
	margin-left: 45px;
	padding: 20px;

	opacity: 0;
	transform: translateY(-$anim-fallin-transform-distance);

	transition: opacity $anim-fallin-opacity-speed $ease-dynamic, transform $anim-fallin-transform-speed;
}

.accordion__term--is-open + .accordion__definition .accordion__content {
	opacity: 1;
	transform: translateY(0);
}
