<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #305361;"></span>
		<span class="sg-label">$color-brand-casal<br>#305361</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4e737b;"></span>
		<span class="sg-label">$color-brand-bayoux<br>#4e737b</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #628190;"></span>
		<span class="sg-label">$color-brand-lynch<br>#628190</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #89a3af;"></span>
		<span class="sg-label">$color-brand-balihai<br>#89a3af</span>
	</li>
</ul>