<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #fff;"></span>
		<span class="sg-label">@color-neutral-white<br>#fff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">@color-neutral-black<br>#000</span>
	</li>
</ul>