<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #fff;"></span>
		<span class="sg-label">$color-neutral-white<br>#fff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">$color-neutral-black<br>#000</span>
	</li>

	<li>
		<span class="sg-swatch" style="background: #e5e5e5;"></span>
		<span class="sg-label">$color-neutral-very-light-grey<br>#e5e5e5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ccc;"></span>
		<span class="sg-label">$color-neutral-light-grey<br>#ccc</span>
	</li>
</ul>