<div class="m-service">
    {{# service}}
        {{> atoms-heading1 }}

        {{#description}}
            {{> atoms-paragraph }}
        {{/description}}

        {{#cta}}
            {{> atoms-button }}
        {{/cta}}
    {{/ service}}
</div>