<ol class="m-messenger" data-component="messenger">
    {{# messages }}
    <li class="m-messenger__line m-messenger__line--auto-animate {{^ isRecipient }} t-text--right{{/ isRecipient }}">
        {{> atoms-message:a-message--messenger }}     
    </li>
    {{/ messages }}
</ol>