.m-messenger {
}

.m-messenger__list-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.m-messenger__list {
  display: block;
  list-style: none;
  width: 100%;
  max-width: 100%;
  height: 50vh;
  padding: 0 12px;
  overflow: hidden;

  @media only screen and (min-width: $screen-sm-min) {
    max-width: 50%;
  }
}

.m-messenger__options {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.m-messenger__line {
  transition: height 0.35s cubic-bezier(0.68, 0.01, 0.245, 1.13);
}

.m-messenger__line.m-messenger__line--auto-animate  { animation-delay: 2.7s; }
.m-messenger__line.m-messenger__line--auto-animate  + 
.m-messenger__line.m-messenger__line--auto-animate  { animation-delay: 5.2s; }

.m-messenger__line.m-messenger__line--auto-animate  + 
.m-messenger__line.m-messenger__line--auto-animate  + 
.m-messenger__line.m-messenger__line--auto-animate  { animation-delay: 6.7s; }

.m-messenger__line.m-messenger__line--auto-animate  + 
.m-messenger__line.m-messenger__line--auto-animate  + 
.m-messenger__line.m-messenger__line--auto-animate  + 
.m-messenger__line.m-messenger__line--auto-animate  { animation-delay: 9.1s; }

.m-messenger__line.m-messenger__line--auto-animate  + 
.m-messenger__line.m-messenger__line--auto-animate  + 
.m-messenger__line.m-messenger__line--auto-animate  + 
.m-messenger__line.m-messenger__line--auto-animate  + 
.m-messenger__line.m-messenger__line--auto-animate { animation-delay: 12.4s; }