/*------------------------------------*\
		element.table
\*------------------------------------*/

table {
	width: 100%;
	max-width: 100%;

	@media (max-width: $screen-xs) {
		display: block;
		overflow-x: auto;
	}
}
