/*------------------------------------*\
		element.anchor
    Created by kvr on 19-09-2016
\*------------------------------------*/

a {
	color: inherit;
	text-decoration: none;

	&:not([class]) {
		color: $color-link;
		text-decoration: underline;
		
		transition: 250ms ease color;

		&:hover {
			color: $color-link-hover;
		}
	}
}
