/*------------------------------------*\
		element.anchor
\*------------------------------------*/

$color-link: $color-brand-bayoux;
$color-link-hover: $color-brand-casal;

a {
	color: inherit;
	text-decoration: none;

	&:not([class]) {
		color: $color-link;
		text-decoration: underline;
		
		transition: 250ms ease color;

		&:hover {
			color: $color-link-hover;
		}
	}
}
