/*------------------------------------*\
		settings.colors.neutral
\*------------------------------------*/

$color-neutral-white: #fff !default;
$color-neutral-black: #000 !default;
$color-neutral-very-light-grey: #e5e5e5 !default;
$color-neutral-light-grey: #ccc !default;