.bg-sand {
  background: #ccc;
}

.bg-casal {
  background: $color-brand-casal;
  color: $color-neutral-white;
  
  a {
	  color: $color-neutral-white;

	  &:visited,
	  &:active {
		  color: $color-neutral-white;
	  } 

	  &:hover {
		  color: #E7DFC6;
	  }
  }
}

// full-screen
body {
  overflow: hidden;
  margin: 0;
}

.full-screen__wrapper {
	position: relative;
	overflow: hidden;
	transition: 0.5s cubic-bezier(0.68, 0.01, 0.245, 1.13);
}

.full-screen__panel {
	position: relative;
	height: 100vh;
	overflow: hidden;
	padding: 0;
	box-sizing: border-box;
	cursor: default;
}

.full-screen__panel:nth-child(1) {
	background: darken($color-neutral-white, 5%);
}

.full-screen__panel:nth-child(2) {
	background: darken($color-neutral-white, 10%);
}

.full-screen__panel:nth-child(3) {
	background: darken($color-neutral-white, 20%);
}

#contact {
	display: flex;
	flex-direction: column;
	@media only screen and (min-width: $screen-xs-min) {
		flex-direction: row;
	}
}

.half {
	width: 100vw;
	height: 50vh;
  	overflow: hidden;

	@media only screen and (min-width: $screen-xs-min) {
		width: 50vw;
		height: 100vh;
	}
}

.half--contact {
	order: 1;
	@media only screen and (min-width: $screen-xs-min) {
		order: 2;
	}

	p, h2 {
		margin: 0;
	}

	h2 {
		font-size: 30px;
	}
}

.half--identity {
	order: 2;
	position: relative;

	@media only screen and (min-width: $screen-xs-min) {
		order: 1;
	}

	.a-logo {
		position: absolute;
		left: 50%;
    	transform: translate(-50%, 0);
	}

	.cvr {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 500%);
	}
}

.half--centered-v {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.half--centered-h {
	text-align: center;
}