.entrance {
  display: flex;
  flex-wrap: wrap;
}

.gridbox {
  padding: 1.5em 3em;
}

.gridbox--identity {
  position: relative;
}

.h-half {
  width: 50%;
  overflow: hidden;
}

.v-half {
  height: 50vh;
  overflow: hidden;
}
.bg-sand {
  background: #ccc;
}

.bg-casal {
  background: #305361;
}

.bg-bayoux {
  background: #4e737b;
}

.bg-lynch {
  background: #628190;
}

.bg-balihai {
  background: #89a3af;
}

.bg-yellow {
  background: #E7DFC6;
}

// full-screen


.full-screen-wrapper {
	position: relative;
	overflow: hidden;
	transition: 0.5s cubic-bezier(0.68, 0.01, 0.245, 1.13);
}

.full-screen-panel {
	position: relative;
	height: 100vh;
	overflow: hidden;
	font-size: 10vmin;
	padding: 1em;
	box-sizing: border-box;
	color: hsla(0, 0%, 100%, .1);
	cursor: default;
}

.full-screen-panelpanel:nth-child(1) {
	background: #012345;
}

.full-screen-panel:nth-child(2) {
	background: #123456;
}