.a-message {
  border-radius: 3px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  display: inline-block;
  line-height: 24px;
  margin-bottom: 20px;
  max-width: 70%;
  min-width: 62.81px;
  min-height: 48px;
  padding: 12px 12px;
  text-align: left;
  transition: width 0.35s cubic-bezier(0.68, 0.01, 0.245, 1.13), 
              height 0.35s cubic-bezier(0.68, 0.01, 0.245, 1.13);
  word-wrap: break-word;
}

.a-message--sender {
  background: $color-brand-casal;
  color: $color-neutral-white;
  transform: translate3d(+150%, 0, 0);
}

.a-message--recipient {
  background:$color-neutral-very-light-grey;
  color: $color-neutral-black;
  transform: translate3d(-150%, 0, 0);
}

.a-message--option {
  background: $color-brand-bayoux;
  color: $color-neutral-white;
  margin: 0 20px;
  max-width: 40%;
  transform: translate3d(0, +150%, 0);

  &--primary {
    animation-delay: 0.5s;
  }

  &--secondary {
    animation-delay: 0.8s;
  }
}

.a-message--option.a-message--incoming {
  animation-name: appearFromBottom;
}

.a-message--option + .a-message--option {
  margin-left: 0;
}

.a-message--messenger {
  animation-delay: inherit;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.68, 0.01, 0.245, 1.13);
}

.a-message--sender.a-message--incoming {
  animation-name: appearFromRight;
  opacity: 0;
}

.a-message--recipient.a-message--incoming {
  animation-name: appearFromLeft;
  opacity: 0;
}

.a-message--loading span{
  background-color: $color-neutral-light-grey;
  border-radius: 100%;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: translateY(2px);
}

.a-message--loading span:nth-child(1){
  animation: bounce 0.8s ease-in-out infinite,
            fadeALittle 0.8s ease-in-out infinite;
}

.a-message--loading span:nth-child(2){
  animation: bounce 0.8s ease-in-out 0.33s infinite,
    fadeALittle 0.8s ease-in-out 0.33s infinite;
}

.a-message--loading span:nth-child(3){
  animation: bounce 0.8s ease-in-out 0.66s infinite,
    fadeALittle 0.8s ease-in-out 0.33s infinite;
}

.a-message__text {
  animation: appear 0.5s ease-in 0.2s 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.a-message__text--transparent {
  opacity: 0;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeALittle {
    from {
        opacity: 1;
    }
    to {
        opacity: .5;
    }
}

@keyframes bounce{
  0%, 75%, 100%{
    transform: translateY(2px);
  }

  25%{
    transform: translateY(-6px);
  }
}

@keyframes appearFromRight{
  from{
      transform: translate3d(+150%, 0, 0);
      opacity: 0;
  }
  to{
      transform: translate3d(0, 0, 0);
      opacity: 1;
  }
}

@keyframes appearFromLeft{
  from{
      transform: translate3d(-150%, 0, 0);
      opacity: 0;
  }
  to{
      transform: translate3d(0, 0, 0);
      opacity: 1;
  }
}

@keyframes appearFromBottom {
  from{
      transform: translate3d(0, +150%, 0);
      opacity: 0;
  }
  to{
      transform: translate3d(0, 0, 0);
      opacity: 1;
  }
}