<div class="a-message {{ styleModifier }}
    {{# isLoading }} a-message--loading{{/ isLoading }}
    {{# isRecipient }} a-message--recipient{{/ isRecipient }}
    {{^ isRecipient }} a-message--sender{{/ isRecipient }}
" data-message="{{message}}" data-component="message" data-message-id="{{id}}">
    <noscript>{{message}}</noscript>

    {{# isLoading }}
        <span></span>
        <span></span>
        <span></span>
    {{/ isLoading }}
</div>